{
	"Address":		"0.0.0.0",
	"Port":			"80",
	"LogLevel":		"DEBUG",
	"DatabaseBackend": "postgresql",
	"PostgreSQL": {
		"SQLUser":		"godin",
		"SQLPassword":		"password",
		"SQLDatabaseName":	"godin",
		"SQLServerAddress":	"localhost",
		"SQLPort":		"5432"
	}
}
